body {
  font-family: Arial;
  padding: 5% 10% 5% 15%;
  background-color: #f4f4ff;
  text-align: center;
}

.container {
  height: 70vh;
  width: 30%;
  float: left;
  border: 5px solid #f4f4ff;
  background-color: white;
  overflow: hidden;
  padding: 0;
}

.calculations {
  padding: 4%;
}

img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h5 {
  color: grey;
}

h3 {
  font-family: monospace;
}

.calculations h3 {
  font-family: fantasy;
}
